*{
    padding: 0;
    margin: 0;
}

*{
    padding: 0;
    margin: 0;

}

body{
    background: url('./images/bg-desktop.svg');
}

.myCont{
    background-color:rgba(27, 7, 26, 0.918);
    width: 390px;
    height: 550px;
    padding : 10px 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -999;
    color: white;
}

.test{
    background-color:rgba(27, 70, 26, 0.918);
    width: 390px;
    height: 550px;
    padding : 10px 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
    color: white;
}

.myCont h2{
    text-align: center;
    margin : 25px 0;
}

.my-btn{
    width: 120px;
    height: 40px;
    color: white;
    border-radius: 25px !important;
    border: 2px solid white !important;
    background-color: transparent !important;
    margin : 20px 30% ;

}

.link{
    display: inline;

}

.nav-item{
    list-style-type: none;

}